.event-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  gap: 10px;
}

.event-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin: auto;
  background-color: rgb(202, 240, 248);
}

.event-table th,
.event-table td {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.event-table-row {
  transition: 0.2s;
  cursor: pointer;
}

.event-table-row:hover {
  background-color: rgb(0, 180, 216);
}

.selected-event-row {
  color: white;
  background-color: rgb(0, 180, 216);
}

.event-list-filters-container {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}

.event-list-filters-container-2 {
  display: flex;
  gap: 10px;
  padding: 0 10px;
}

.event-list-filters-container-2>p {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.event-list-filter {
  padding: 5px;
}

.no-events-msg {
  font-size: 18px;
}
