.event-list {
  width: 100%;
  text-align: center;
}

.event-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin: auto;
}

.event-table th,
.event-table td {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 5px;
}

.event-add-btn {
  margin-top: 10px;
}

.event-table-row {
  transition: 0.2s;
}

.event-table-row:hover {
  background-color: rgba(0, 255, 0, 0.2);
}

.selected-event-row {
  background-color: rgba(0, 255, 0, 0.2);
}
