.dashboard {
  display: flex;
  gap: 50px;
  width: 100%;
  padding: 10px;
}

.left-side,
.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 50%;
  height: 700px;
  max-height: 700px;
}

.left-side {
  gap: 20px;
  box-shadow: 2px 0px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
  margin-left: 20px;
}

.right-side {
  margin-right: 20px;
}

.calendar {
  border-radius: 10px;
  padding: 10px;
}

.settings-btn-container {
  display: flex;
  justify-content: center;
}

.settings-btn {
  margin: 10px;
  box-shadow: 0 0 50px 2px #3f9eea;
  width: 150px;
  height: 50px;
  transition: 0.2s;
}

.settings-btn:hover {
  box-shadow: 0 0 50px 2px #0674cc;
}
