.attendee-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 400px;
  margin: auto;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  transition: 200ms;
  box-shadow: 0px 10px 50px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.attendee-form:hover {
  box-shadow: none;
}

.attendee-form input {
  font-size: 16px;
  border: 1px solid rgba(32, 32, 32, 0.5);
  padding: 2px 4px;
  width: 100%;
  max-width: calc(400px - 20px);
}

.attendee-form textarea {
  min-width: 100%;
}

.container {
  display: flex;
  gap: 10px;
  width: 100%;
}

.btn-container {
  justify-content: right;
}

button {
  font-size: 14px;
  border: 1px solid rgba(32, 32, 32, 0.5);
  padding: 2px 4px;
}

.label {
  display: flex;
  align-items: center;
  font-size: 18px;
  width: 100%;
}
